html, body {
  height: 100%;
  background-color: #ffe494;
}

#root {
  background-color: #fff;
  height: 100%;
  padding: 0;
}

.title{
  text-align: center;
  font-size: 28px;
  border-bottom: 2px solid black;
  padding: 15px;
  margin-bottom: 20px;
 
}

.knownWord {
  font-size: 35px;
  text-align: center;
  margin: 10px;
}

.picture {
  text-align: center;
  margin: 25px;
}