.lose {
    height: 200px;
}

.lose .defeat-panel {
    text-align: center;
    margin-bottom: 50px;
}

.lose .defeat {
    font-size: 40px;
    color: #ffc107;
    font-weight: bold;
}

.lose .play-again {
    text-align: center;
}